body {
  background-color: #BBE36F;
}

/* #BED1D5 Good snowy color */

.resized-image {
  width: 50%;
  height: auto;
}

.full-screen-image {
  width: auto;
  height: 100vh;
}

@media (max-width: 767px) {
  .full-screen-image {
    width: 100vw;
    height: auto;
  }
}
