.image-container {
  height: 100vh;
  background-image: url(barn.webp);
  background-size: cover;
  background-position: center;
}

.text-container {
  padding: 2rem;
}

@media (max-width: 767px) {
  .image-container {
    height: auto;
  }
}
